<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
        <img src="https://maxcdn.icons8.com/Color/PNG/24/User_Interface/close_window-24.png" title="Close Window" width="24"></span></button>
<div id="distributions_panel" class="panel panel-default">
  <div class="panel-heading">
    <h2>Distributions</h2>
  </div>
  <div class="panel-body panel-no-padding">
    <table cellspacing="0" cellpadding="0" border="0" id="distributions_table" class="table table-striped table-bordered datatables dataTable no-footer"
      role="grid" aria-describedby="editable_info">
      <thead>
        <tr role="row">
          <th>GL Account</th>
          <th>Amount</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="item in invoiceDetail.InvoiceDistributions">
          <td class="ledger_account_identifier">{{item}}</td>
          <td class="amount_row">
            <!--<a href="javascript:void(0)" uib-popover-template="DistAmountPopoverUrl" popover-placement="top" popover-is-open="item.isAmtOpen"
              ng-click="openPopover($index, 'amount')" style="border-bottom-style: dashed; border-width: 1px;" dist-elem capital="A{{$index}}">{{item.DistributionAmount | currency:"$"  }}</a>-->
            <script id="DistAmountPopover.html" type="text/ng-template">

                                                                <div class="popover-list" style="min-width:200px;max-width:200px;" left="60">
                                                                    <div class="popover-content" style="padding: 0px; margin: 0px">
                                                                        <h3 class="popover-title">Enter distribution amount</h3>
                                                                        <div class="navbar navbar-primary navbar-static-top popover_search_wrap">
                                                                            <div class="navbar-inner">
                                                                                <div class="navbar-search navbar-form search_form" action="#" role="search">
                                                                                    <div class="control-group form-group">
                                                                                        <div class="editable-input" style="position: relative;">
                                                                                            <input type="text" class="form-control input-sm" style="padding-right: 24px;"
                                                                                                   data-ng-model="item.DistributionAmount" dist-close exclude-class="{{$index+255}}" index-no="A{{$index}}" valid-number decimal-upto="2"><span class="editable-clear-x"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </script>
          </td>
          <td class="comment_row">
            <!--<a href="javascript:void(0)" uib-popover-template="DistCommentPopoverUrl" popover-placement="top" popover-is-open="item.isComOpen"
              ng-click="openPopover($index, 'comment')" style="border-bottom-style: dashed; border-width: 1px;" dist-comment
              capital="B{{$index}}"><span>{{item.DistributionComment}}</span></a>-->
            <script id="DistCommentPopover.html" type="text/ng-template">

                                                                <div class="popover-list" id="divDistCommentPopover" style="min-width:200px;max-width:200px;" left="130">
                                                                    <div class="popover-content" style="padding: 0px; margin: 0px">
                                                                        <h3 class="popover-title">Enter distribution comment</h3>
                                                                        <div class="navbar navbar-primary navbar-static-top popover_search_wrap">
                                                                            <div class="navbar-inner">
                                                                                <div class="navbar-search navbar-form search_form" action="#" role="search">
                                                                                    <div class="control-group form-group">
                                                                                        <div class="editable-input" style="position: relative;">
                                                                                            <input type="text" class="form-control input-sm" style="padding-right: 24px;" data-ng-model="item.DistributionComment" dist-closemm exclude-class="{{$index+741}}" index-no="B{{$index}}" /><span class="editable-clear-x"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </script>
          </td>
          <td>
            <i class="fa fa-times remove_distribution" data-ng-click="removeInvoiceDistributions(item.DistributionID, $index)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
