
<div class="main-container" id="mainDiv">
    <div >
        <div >
            <div class="page-content">
                <div class="page-heading">
                    <h1>Reset Password <b>{{resetPasswordDetail.UserName}}</b></h1>
                    <div class="options">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="container-fluid">
                    <div id="panel-advancedoptions">
                        <div id="user_form_row" class="row form-horizontal" *ngIf="resetPasswordDetail.UserID != 0">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">

                                <div id="error_explanation" class="alert alert-danger" *ngIf="errors.length>0">
                                    <h2>{{errorHeader}}</h2>
                                    <ul>
                                        <li *ngFor="let error of errors">{{error.ErrorName}}</li>
                                    </ul>
                                </div>

                                <div class="form-group field">
                                    <label class="control-label col-md-3">Name</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">
                                            <span>{{resetPasswordDetail.Name}}</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group field">
                                    <label class="control-label col-md-3">Email</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            <a href="mailto:{{resetPasswordDetail.Email}}">{{resetPasswordDetail.Email}}</a>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group field">
                                    <label class="control-label col-md-3" for="member_username">New Password</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </span>
                                            <input class="form-control" placeholder="Enter a new password" size="30" type="password" [(ngModel)]="resetPasswordDetail.NewPassword" focus="newPwdFocus">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group field">
                                    <label class="control-label col-md-3" for="member_email">Confirm Password</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </span>
                                            <input class="form-control" placeholder="Enter a confirm password" size="30" type="password" [(ngModel)]="resetPasswordDetail.ConfirmPassword" focus="confirmPwdFocus">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group actions">
                                    <label class="control-label col-md-3">&nbsp;</label>
                                    <div class="col-md-9">
                                        <input class="btn btn-primary" (click)="resetPassword()" value="Reset Password" type="button">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row form-horizontal" [hidden]="resetPasswordDetail.UserID != 0">
                            <div class="alert alert-danger">
                                <h2>Reset Password link has been expired, Please send reset link again!</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>