<div id="checkDetails_accordion" class="panel-group" role="tablist" aria-multiselectable="true" *ngIf="checkDetails.length > 0">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#checkDetails_accordion" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="panel-title">
          Check Details
        </h2>
      </a>
    </div>
    <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body panel-no-padding">

        <table id="invoice_CheckList_table" class="table table-striped table-bordered datatables dataTable no-footer">
          <thead>
            <tr>
              <th>Check Number</th>
              <th>Check Date</th>
              <!--<th>Invoice Amount</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let check of checkDetails">
              <td>
                {{check.CheckNumber}}
              </td>
              <td>
                {{check.CheckDate}}
              </td>
              <!--<td>${{check.InvoiceAmount  | number: 2}} </td>-->
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>