<div id="slider" class="page-content">

  <sp-purchase-order-filter-bar></sp-purchase-order-filter-bar>


   <sp-crumb-bar></sp-crumb-bar>

  <div class="container-fluid">
    <div class="col-md-12">
      <sp-pager [pageName]='pageName' [totalItems]='totalItems' [currentPageFiltered]='currentPageFiltered'></sp-pager>
      <table id="account_distributions_table" class="table table-hover table-striped table-sortable table table-striped table-bordered table-hover" [mfData]=" purchaseOrders"
        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th style="width: 25%" [class]="selectedClass('VendorName')" (click)="changeSorting('VendorName')">Number</th>
            <th style="width: 40%" [class]="selectedClass('InvoiceDescription')" (click)="changeSorting('InvoiceDescription')">Description</th>
            <th style="width: 25%" [class]="selectedClass('RequestedBy')" (click)="changeSorting('RequestedBy')">Requested By</th>
            <th style="width: 10%" ></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of purchaseOrders  | OrderByTable : convertSorting()">
            <td>
              <div>
                <a href="#/vendor/detail/{{item.VendorID}}/-1/-1">
                  {{item.VendorName}}
                </a>
              </div>
            </td>
            <td>{{item.InvoiceDescription}}</td>
            <td>{{item.RequestedBy}}</td>
            <td>
              <div>
                <a href="#/purchaseOrderDetail/{{item.PuchaseOrderID}}">Details</a>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
      <sp-pagination [dataSource]='purchaseOrders' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)'
        [currentPageFiltered]='currentPageFiltered'></sp-pagination>

    </div>
  </div>

  <sp-loading-spinner [showLoader] = 'showLoader' ></sp-loading-spinner>