<div class="page-content">
  <div class="page-heading">
    <h1>Purchase Orders</h1>

    <div class="options">
      <div class="btn-toolbar form-inline">
      </div>
    </div>
  </div>


  <ol class="breadcrumb">
    <li><a href="account/">abc</a></li>
    <li class="active">purchase Orders</li>
  </ol>
  <div class="container-fluid">
    <datatable class='material striped' [rows]='gridData' [options]='options'>


      <datatable-column name="">
        <template let-column="column">
          <div class="ui-grid-cell-contents">
            <a tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip-html="">
                            Details
                            </a>
          </div>
        </template>

      </datatable-column>
    </datatable>
  </div>
</div>