<div class="page-content">
  <div class="page-heading">
    <h1>All Jobs</h1>

    <div class="options">
      <div class="btn-toolbar form-inline">
      </div>
    </div>
  </div>


  <ol class="breadcrumb" *ngIf="account">
    <li><a href="account/{{account.AccountName}}">{{account.AccountName}}</a></li>
    <li class="active">Jobs</li>
  </ol>
  
 
  <div class="container-fluid">

    <span *ngIf="totalItems > currentPageFiltered.pageSizeFilter && totalItems!=0">
            Displaying {{pageName}}
            <b>
                {{currentPageFiltered.toPage}} &nbsp;-&nbsp;
                <span *ngIf="currentPageFiltered.fromPage < totalItems">{{currentPageFiltered.fromPage}}</span>
    <span *ngIf="currentPageFiltered.fromPage >= totalItems">{{totalItems}}</span>
    </b> of <b>{{totalItems}}</b> in total
    </span>
  
  <br>
  <br>
    <!--<datatable class='material striped' [rows]='jobs' [options]='options'  >


      <datatable-column >
        <template let-column='column'>
          <div class="ui-grid-cell-contents">
            <a tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip-html=""  (click)='onSelect($event)'>
                          Detail
                            </a>
          </div>
        </template>
      </datatable-column>
      

    </datatable>-->
    
    <!--<ng-pagination [totalItems]="totalItems" [ngModel]="currentPage" [maxSize]="maxSize" [boundaryLinks]="true" (pageChanged)="pageChanged($event)"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First" last-text="Last"></ng-pagination>-->

    <table id="account_distributions_table" class="table table-striped table-bordered table-hover" [mfData]=" jobs"
      #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th style="width: 20%">Number</th>
          <th style="width: 20%">Company</th>
          <th style="width: 30%">Description</th>
          <th style="width: 20%">Talent Id</th>
          <th style="width: 10%"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jobs">
          <td>{{item.Number}}</td>
          <td><a href="#/companyDetail/{{item.CompanyID}}">{{item.CompanyName}}</a></td>
          <td>{{item.Description}}</td>
          <td>{{item.TenantId}}</td>
          <td><a href="#/job/{{item.JobID}}">Details</a></td>
          <!--<td>{{item.AccountNumber}}</td>
                <td>{{item.AccountTitle}}</td>
                <td>{{item.invCount}}</td>
                <td><a href="ledgerAccountDetail/{{item.id}}">Details</a></td>-->
            </tr>
      </tbody>

    </table>
    <sp-pagination
     [dataSource]='jobs' 
     [totalItems]='totalItems'
     (currentPageChanged)='onCurrentPageChanged($event)'
     [currentPageFiltered]='currentPageFiltered' ></sp-pagination>
  </div>
</div>