<div class="page-content">

  <sp-sync-batch-detail-filter-bar></sp-sync-batch-detail-filter-bar>

  <sp-crumb-bar *ngIf='syncBatcheDetail' [lastTitle]="syncBatcheDetail.AccountName"></sp-crumb-bar>


  <div class="container-fluid">
    <div id="panel-advancedoptions">
      <div class="row">

        <sp-sync-batch-detail-attribute 
        *ngIf="syncBatcheDetail" 
        [syncBatcheDetail]="syncBatcheDetail"
        ></sp-sync-batch-detail-attribute>

        <sp-sync-batch-detail-invoices 
          *ngIf="syncBatcheDetail" 
          [syncBatcheDetail]="syncBatcheDetail" 
          [totalItems]="totalItems"></sp-sync-batch-detail-invoices>

      </div>
    </div>
  </div>

</div>