<div class="page-heading">
  <h1>All Sync Batches</h1>
  <div class="options">
    <div class="form-inline" id="invoices_index_filters_form">
      <div class="form-group">
        <input class="form-control" id="syncFromDate" [(ngModel)]="syncBatchFilteredValue.syncFromDate" date-picker placeholder="Sync Batch Date From"
          size="25" type="text" value="" />
      </div>

      <div class="form-group">
        <input class="form-control" id="syncToDate" [(ngModel)]="syncBatchFilteredValue.syncToDate" date-picker placeholder="Sync Batch Date To" size="25"
          type="text" value="" />
      </div>

      <div class="form-group">
        <input class="form-control" id="batch_number" name="batch_number" placeholder="Enter an batch number" type="text" [(ngModel)]="syncBatchFilteredValue.batchNumber"/>
      </div>
      


      <sp-user-dropdown 
        [userFilteredArg]='userFilteredArg' 
        (userFiltered)="onUserFiltered($event)">
      </sp-user-dropdown>

      <div class="form-group">
        <button class="btn btn-primary" name="commit" type="button" (click)="searchUrl()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Filter
                    </button>

        <button class="btn btn-warning" (click)="searchUrlReset()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Reset
                    </button>
      </div>

    </div>
  </div>
</div>