<div class="page-content">

  <sp-sync-batch-filter (filteredsyncBatch)="onfilteredsyncBatch($event)" [syncBatchFilteredValue]="syncBatchFilteredValue">
  </sp-sync-batch-filter>


  <sp-crumb-bar *ngIf="account" [pageDetail]="account"></sp-crumb-bar>

  <div class="container-fluid">

    <sp-pager [pageName]='pageName' [totalItems]='totalItems' [currentPageFiltered]='currentPageFiltered'></sp-pager>

    <table id="account_distributions_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th style="width: 15%">Account</th>
          <th style="width: 15%">creater</th>
          <th style="width: 15%">Batch Number</th>
          <th style="width: 15%">Synced on</th>
          <th style="width: 15%">Synced</th>
          <th style="width: 15%"># of invoice</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of syncBatchs">
          <td>
            <a routerLink="accountDetail/{{item.AccountName}}">{{item.AccountName}}</a>
          </td>
          <td>
            <a routerLink="accountDetail/{{item.AccountName}}">{{item.UserName}}</a>
          </td>
          <td>{{item.BatchNumber}}</td>
          <td>{{item.BatchDate}}</td>
          <td>

            <div [ngClass]="{'text-warning': item.Synced == 'Never Synced'}" *ngIf="item.Synced == 'Never Synced'">
              <i class="fa fa-exclamation"></i> {{item.Synced}}
            </div>

            <div [ngClass]="{'text-success': item.Synced == 'Synced'}" *ngIf="item.Synced == 'Synced'">
              <i class="fa fa-check"></i> {{item.Synced}}
            </div>

          </td>
          <td>{{item.Invoices}}</td>
          <td><a href="#/syncBatchDetail/{{searchString}}/{{item.SyncBatcheID}}">Details</a></td>
        </tr>
      </tbody>
    </table>
    <sp-pagination [dataSource]='syncBatchs' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'>
    </sp-pagination>
  </div>

</div>