<div id="slider" class="page-content">
	<div class="page-heading">
		<h1>{{pageName}}</h1>
		<div class="options">
			<div class="btn-toolbar form-inline">
				<sp-company-filter-bar></sp-company-filter-bar>
			</div>
		</div>
	</div>
	<sp-crumb-bar *ngIf="account" [pageDetail]="account"></sp-crumb-bar>
	<div class="container-fluid">
		<div class="col-md-12">
			<sp-pager [pageName]='pageName' [totalItems]='totalItems' [currentPageFiltered]='currentPageFiltered'></sp-pager>
			<table id="account_distributions_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th style="width: 25%">Number</th>
						<th style="width: 25%">Name</th>
						<th style="width: 25%">Sync</th>
						<th style="width: 25%"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of companies">
						<td>
							<a>
								<i [ngClass]="{'fa fa-book':
			item.type=='Skypanion::Fund',
			 'fa fa-building':
			 item.type=='Skypanion::Property'}">
		   </i>
							</a>{{item.Number}}</td>
						<td>{{item.Name}}</td>
						<td><a [ngClass]="{'text-success': item.ActivationLink=='Enable',
				'text-danger': item.ActivationLink=='Disable'}" (click)="activateDeactiveCompany(item.Name,item.CompanyID,item.Active)">
				{{item.ActivationLink}}</a>
						</td>
						<td><a routerLink="vendorDetail/{{item.VendorID}}">Details</a></td>
					</tr>
				</tbody>
				<!--<tfoot>
      <tr>
        <td colspan="4">
          <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>-->
			</table>
			<sp-pagination [dataSource]='companies' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>
		</div>
	</div>
</div>