	<div class="filter_field_wrap form-group">
					<input class="form-control" id="search_filter_param" name="searchstr" placeholder="Enter text to search for." type="text"
						[(ngModel)]="filteredValue.searchText">
				</div>
				<div class="filter_field_wrap form-group">
					 <sp-syncType-dropdown
     						(syncTypeChanged)='onsyncTypeChanged($event)'
    						 [syncTypeFiltered]='syncTypeFiltered' ></sp-syncType-dropdown>
				
				</div>

				<div class="filter_field_wrap form-group">
					<sp-companyPath-dropdown
						(companyPathChanged)='oncompanyPathChanged($event)'
    					[companyPathFiltered]='companyPathFiltered'></sp-companyPath-dropdown>
				
				</div>

				<div class="filter_field_wrap form-group">
					<button class="btn btn-primary" name="commit" type="button" (click)="searchUrl()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Filter
                    </button>

					<button class="btn btn-warning" (click)="searchUrlReset()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Reset
                    </button>