<div class="options">

  <div class="btn-toolbar">
    <div class="form-inline" id="users_filter_form" style="display: inline">


      <div class="btn-group">
        <a class="btn btn-default">{{userTypeName}}</a>
        <a data-toggle="dropdown" class="btn btn-default dropdown-toggle" href="#" aria-expanded="false">
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu" data-target="#sync_state_field">
          <li><a role="menuitem" *ngFor="let userType of userTypes" (click)="onSelectUserType(userType.Id)">{{userType.Name}}</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <a class="btn btn-default">{{userRoleName}}</a> 
        <a data-toggle="dropdown" class="btn btn-default dropdown-toggle" href="#" aria-expanded="false">
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu" data-target="#sync_state_field">
          <li><a role="menuitem" *ngFor="let role of roles" (click)="onSelectRole(role.RoleID)">{{role.Name}}</a></li>
        </ul>
      </div>


         <div class="filter_field_wrap form-group">
        <button class="btn btn-primary" name="commit" type="button" (click)="searchUrl()">
          <i class="fa fa-search" aria-hidden="true"></i>
          Filter
        </button>
    	</div>

		<div class="filter_field_wrap form-group">
        <button class="btn btn-warning" (click)="searchUrlReset()">
          <i class="fa fa-refresh" aria-hidden="true"></i>
          Reset
        </button>
      </div>

    </div>

    <div class="btn-group pull-right" [hidden]="user.IsSuperUser!=true">
      <a class="btn btn-success" href="#/user/entry/0/{{searchString}}">
        <i class="fa fa-plus"></i> Create User
      </a>
    </div>

  </div>
</div>