<div class="page-content">
  <div class="page-heading">
    <h1>All Attachments</h1>
    <div class="options">
      <div class="form-inline" id="filter_form">
        <div style="margin-top:5px;" class="filter_field_wrap form-group">
         <sp-company-dropdown [companyFilteredArg]='companyFilteredArg'
        (companyFiltered)="onCompanyFiltered($event)"></sp-company-dropdown>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" name="commit" type="button" (click)="searchURL()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Filter
                    </button>
          <button class="btn btn-warning" (click)="searchUrlReset()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Reset
                    </button>
        </div>
      </div>
    </div>
  </div>
  <ol class="breadcrumb">
    <li><a href="#account/{{account.AccountID}}">{{account.AccountName}}</a></li>
    <li class="active">Uploaded PDFs</li>
  </ol>
  <sp-pager [pageName]='pageName' [totalItems]='AttachmentCount' [currentPageFiltered]='currentPageFiltered'></sp-pager>
  <!--<sp-vendor-filter-bar (filtered)="onFiltered($event)" [filteredValue]="filteredValue"></sp-vendor-filter-bar>-->
  <!--<sp-crumb-bar *ngIf="account" [pageDetail]="account"></sp-crumb-bar>
    <sp-pager [pageName]='pageName' [totalItems]='totalItems' [currentPageFiltered]='currentPageFiltered'></sp-pager>-->
  <table id="account_distributions_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th style="width: 12%">Info</th>
        <th style="width: 22%">Fund/Property</th>
        <th style="width: 22%">Name</th>
        <th style="width: 14%">Uploaded</th>
        <th style="width: 10%">Locked By</th>
        <th style="width: 10%"></th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of attachments">
        <td *ngIf="item.Info != 'Rejected'" [ngClass]="{'italic-font': item.Info=='N/A', 'text-success':item.Info=='Processed'}">{{item.Info}}</td>
        <td *ngIf="item.Info == 'Rejected'" [ngClass]="{'text-rejected': item.Info=='Rejected'}"><b>!</b>{{item.Info}}</td>
        <td>{{item.CompanyName}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Uploaded}}</td>
        <td>{{item.LockedBy}}</td>
        <td><a *ngIf="item.IsLocked == true && sessionDetails.IsSuperUser ==true" (click)="unlockDocumentByAdmin(item.AttachmentID)">unlock</a></td>
        <td>
          <a *ngIf="item.ViewInvoiceLink =='View Invoice'" (click)="GetInvoiceDetails(item.AttachedTo_id,item.IsLocked)"><i class="glyphicon glyphicon-chevron-right"></i>{{item.ViewInvoiceLink}}</a>
          <a *ngIf="item.ViewInvoiceLink =='Delete'" (click)="deleteAttachement(item.AttachmentID)"><i class="glyphicon glyphicon-chevron-right"></i>{{item.ViewInvoiceLink}}</a>
          <a style="margin-left:10px;" *ngIf="item.ViewInvoiceLink =='Delete'  && sessionDetails.IsSuperUser == true" (click)="editAttachment(item)"><i class="glyphicon glyphicon-chevron-right"></i>Edit</a>
          <a *ngIf="item.ViewInvoiceLink =='Process' && item.IsProcessLinkDisbale == true" (click)="GetAttachmentDetails(item.AttachmentID)"><i class="glyphicon glyphicon-chevron-right"></i>{{item.ViewInvoiceLink}}</a>
          <p *ngIf="item.ViewInvoiceLink =='Process' && item.IsProcessLinkDisbale == false">{{item.ViewInvoiceLink}}</p>
        </td>
      </tr>
    </tbody>
  </table>
        <sp-pagination [dataSource]='attachments' [totalItems]='AttachmentCount' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>
  </div>
  <!--<sp-pagination [dataSource]='vendors' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>-->
<sp-loading-spinner [showLoader] = 'showLoader' ></sp-loading-spinner>