<div id="slider" class="page-content">
  
  <sp-filter-invoice-attribute
    (filtered)="onFiltered($event)" 
    [filteredValue]="filteredValue"
  >
  </sp-filter-invoice-attribute>
  <!--<div class="page-heading">
        <h1>Create Sync Batch</h1>
        <div class="options">
            <div class="form-inline" id="invoices_index_filters_form">

                <div class="form-group">
                    <sp-company-dropdown></sp-company-dropdown>
                </div>
                <sp-user-dropdown></sp-user-dropdown>
        
                <div class="filter_field_wrap form-group">
                    <button class="btn btn-primary" name="commit" type="button" (click)="searchURL()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Filter
                    </button>

                    <button class="btn btn-warning" (click)="searchURLReset()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Reset
                    </button>
                </div>


            </div>
        </div>-->

  <ol class="breadcrumb">
    <li>
      <a href="#syncbatches">Sync Batches</a>
    </li>
    <li class="active">New Sync Batch</li>
  </ol>
  <div class="container-fluid">
    <div id="panel-advancedoptions">
      <div class="row">
        <div class="col-md-12" *ngIf="totalItems == 0">
          <div class="alert alert-warning">
            There are no invoices to release back to skyline.
          </div>
        </div>
        <div class="col-md-12" *ngIf="showdashboardMessage">
          <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            <strong>Heads Up!</strong> {{dashboardMessage}}
            <a class="close" data-dismiss="alert">×</a>
          </div>
        </div>

        <div class="col-md-12" *ngIf="totalItems>0">

          <div class="container-fluid">
            <div id="Div1">
              <div class="row">
                <sp-release-invoice-attribute *ngIf="syncBatcheInvoices" [syncBatcheInvoices]="syncBatcheInvoices"></sp-release-invoice-attribute>
                <sp-waiting-invoice-attribute *ngIf="syncBatcheInvoices" [syncBatcheInvoices]="syncBatcheInvoices" [totalItems]="totalItems"
                  (invoceRemoved)="onInvoiceRemoved($event)"></sp-waiting-invoice-attribute>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>



<div id="dgRejectInvoice" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="GenerateDrivesDialogBox" aria-hidden="true">

  <!--
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3>Reject Invoice</h3>
            </div>
            <div class="modal-body">
                <form accept-charset="UTF-8" class="" id="Form1" method="post">

                    <div class="form-group">
                        <div id="Div4" class="alert alert-danger" *ngIf="errorsInv.length>0">
                            <h3>{{errorHeader}}</h3>
                            <ul>
                                <li data-ng-repeat="error in errorsInv">{{error.ErrorName}}</li>
                            </ul>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label" for="attachment_RejectionMemo"><b>Leave a comment (required)</b></label>
                        <textarea class="form-control" cols="40" id="Textarea1" maxlength="250" [(ngModel)]="rejectionComment" placeholder="Enter Comment" rows="2"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <a id="A1" class="btn btn-default closeButton" data-dismiss="modal">Cancel</a>
                <a id="A2" class="btn btn-danger" (click)="rejectInvoice()">Reject Invoice</a>
            </div>
        </div>
    </div>-->


</div>