<div class="col-md-9">
  <!--<sp-show-invoices *ngIf ="syncBatcheInvoices" [syncBatcheInvoices]="syncBatcheInvoices"> </sp-show-invoices>-->
  <h3>Invoices Waiting For Sync</h3>
  <hr>
  <div id="invoice_dashboard_wrap">
    <div class="row">
      <div class="col-md-12">
        <!--<style type="text/css">
                                                    #invoice_dashboard_wrap .control-label {
                                                        font-weight: bold;
                                                        width: 120px;
                                                    }

                                                    #invoice_dashboard_wrap .controls {
                                                        padding-top: 5px;
                                                        margin-left: 140px;
                                                    }

                                                    #invoice_dashboard_wrap .form-group {
                                                        margin-bottom: 4px !important;
                                                    }

                                                    #invoice_dashboard_wrap .invoice_details {
                                                        margin-right: 8px;
                                                    }

                                                    #invoice_dashboard_wrap .invoice_button_form {
                                                        margin-bottom: 0;
                                                    }

                                                    #pdf_frame {
                                                        position: relative;
                                                        z-index: 1;
                                                    }

                                                    .distributions_list {
                                                        padding-left: 0;
                                                        list-style: none;
                                                    }

                                                        .distributions_list li {
                                                            border-bottom: 1px dotted lightgray;
                                                            padding-top: 6px;
                                                        }

                                                            .distributions_list li:first-child {
                                                                padding-top: 0;
                                                            }

                                                            .distributions_list li:last-child {
                                                                border-bottom: none;
                                                            }

                                                    .distribution_list_item .comment, .distribution_list_item .no_comment {
                                                        font-size: 12px;
                                                    }

                                                    .distribution_list_item .no_comment {
                                                        font-style: italic;
                                                    }

                                                    .distributions_list li blockquote {
                                                        margin-top: 10px;
                                                        margin-bottom: 10px;
                                                    }
                                                </style>
                                                <script type="text/javascript">
                                                    $(function () {
                                                        $(".aTooltip").tooltip();

                                                        $(".review_invoice_form input:submit, .batch_invoice_form input:submit").bind("click", function (evt) {
                                                            if (!confirm("Are you sure you'd like to proceed with this action?")) {
                                                                evt.preventDefault();
                                                                evt.stopPropagation();
                                                            }
                                                        });



                                                        $(".approve_invoice_link, .reject_invoice_link").bind("ajax:before", function (xhr, settings) {
                                                            //alert("Before");
                                                        }).bind("ajax:complete", function (xhr, status) {
                                                            //alert("Complete");
                                                        }).bind("ajax:success", function (xhr, data, status) {
                                                            //alert("Success")
                                                            $("body").append(data);
                                                        }).bind("ajax:error", function (evt, xhr, status) {
                                                            alert("Error " + xhr.status);
                                                        });

                                                        $(".view_attachment_butt").bind("ajax:before", function (xhr, settings) {
                                                            //alert("Before");
                                                        }).bind("ajax:complete", function (xhr, status) {
                                                            //alert("Complete");
                                                        }).bind("ajax:success", function (xhr, data, status) {
                                                            //alert("Success")
                                                            $("body").append(data);
                                                        }).bind("ajax:error", function (evt, xhr, status) {
                                                            alert("Error " + xhr.status);
                                                        });
                                                    });
                                                </script>-->

        <span *ngIf="totalItems>0">Displaying <b>all {{totalItems}}</b> invoices</span>
        <span *ngIf="totalItems==0">No Invoices Found</span>

        <br>
        <br>

        <div id="invoices_accordion" class="panel-group panel-default">
          <div class="panel panel-default" *ngFor="let invoice of syncBatcheInvoices">
            <a href="#collapse-{{invoice.CssID}}" data-parent="#invoices_accordion" data-toggle="collapse">
              <div class="panel-heading">
                <h2>
                  <strong>{{invoice.CompanyName}}</strong> - {{invoice.VendorKey}}
                </h2>
              </div>
            </a>
            <div class="collapse in" id="collapse-{{invoice.CssID}}">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <dl class="dl-horizontal">
                      <dt>Invoice Details</dt>
                      <dd>
                        <a href="#invoice/detail/-1/-1/{{invoice.InvoiceID}}/null/0/0/-1/-1" class="badge badge-info"><i class="fa fa-info"></i>View Details</a>
                      </dd>

                      <dt>Invoice Number</dt>
                      <dd>
                        {{invoice.InvoiceNumber}}
                      </dd>

                      <dt>Status</dt>
                      <dd>
                        <span [ngClass]="{'text-success': invoice.Status=='Synced', 'text-info': invoice.Status=='Waiting For Sync'}">{{invoice.Status}}</span>
                      </dd>

                      <dt>Company</dt>
                      <dd>
                        <a href="#company/detail/{{invoice.company_id}}/-1/-1" ><i [ngClass]="{'fa fa-book': invoice.type=='Skypanion::Fund', 'fa fa-building': invoice.type=='Skypanion::Property'}"></i>{{invoice.CompanyName}}</a>
                      </dd>

                      <dt>Vendor</dt>
                      <dd>

                        <a href="#vendor/detail/{{invoice.vendor_id}}/-1/-1">{{invoice.VendorName}}</a>
                        

                      </dd>

                      <dt>Invoice Date</dt>
                      <dd>{{invoice.InvoiceDate}}</dd>
                    </dl>
                  </div>
                  <div class="col-md-4">
                    <dl class="dl-horizontal">

                      <dt>Due Date</dt>
                      <dd>{{invoice.DueDate}}</dd>

                      <dt>Amount</dt>
                      <dd>${{invoice.Amount | number:'1.2-2'}}</dd>

                      <dt>Cash Account</dt>
                      <dd>
                        <span [ngClass]="{'text-warning': invoice.CashAccount=='Unknown'}">{{invoice.CashAccount}}</span>
                      </dd>

                      <dt>Distributions</dt>
                      <dd>
                        <ul class="distributions_list">
                          <li class="distribution_list_item" *ngFor="let dectribution of invoice.InvoiceDestributions">
                            <span *ngIf="dectribution.Distributions=='No Distributions'">{{dectribution.Distributions}}</span>
                            <a href="#/ledgerAccount/detail/{{dectribution.ledger_account_id}}/-1/-1" *ngIf="dectribution.Distributions!='No Distributions'">{{dectribution.Distributions}}</a>

                            <blockquote class="no_comment" [ngClass]="{'text-warning': dectribution.DestributionComment=='No Comment'}">
                              {{dectribution.DestributionComment}}
                            </blockquote>
                          </li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                  <div class="col-md-4">
                    <dl class="dl-horizontal">

                      <dt>Job</dt>
                      <dd>
                        <a href="#job/detail/{{invoice.job_id}}" *ngIf="invoice.job_id!=null">{{invoice.Job}}</a>
                        <span style="color: gray;" *ngIf="invoice.job_id==null">{{invoice.Job}}</span>
                      </dd>

                      <dt>Job Category</dt>
                      <dd>
                        <span style="color: gray;" [ngClass]="{'italic-font': invoice.Job=='N/A'}">{{invoice.JobCategory}}</span>
                      </dd>

                      <dt>Clerk</dt>
                      <dd>
                        <a href="#user/detail/{{invoice.clerk_id}}/25/-1">{{invoice.ClerkName}}</a>
                      </dd>

                      <dt>Updated By</dt>
                      <dd>
                        <a href="#user/detail/{{invoice.updated_by_id}}/25/-1">{{invoice.UpdatedByName}}</a>
                      </dd>

                      <dt>Description</dt>
                      <dd>
                        <span>{{invoice.Description}}</span>
                      </dd>

                      <dt>Comment</dt>
                      <dd>
                        <span style="color: gray;" [ngClass]="{'italic-font': invoice.Comment=='None supplied'}">{{invoice.Comment}}</span>
                      </dd>
                    </dl>
                  </div>
                </div>

                <div class="row invoice_buttons_wrap">
                  <div class="col-md-12">
                    <hr style="margin-top: 10px; margin-bottom: 10px">
                    <div id="invoice_reject_button_wrap">
                      <span class="right_align">
                                                                                <a class="reject_invoice_link btn btn-danger" 
                                                                                   style="color: white!important" (click)="openRejectionPopup(invoice.InvoiceID ,invoice.Amount , invoice.company_id ,invoice.InvoiceNumber)"><i class="fa fa-remove"></i>Reject Invoice</a>
                                                                            </span>
                      <br class="clear_both">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <nav style="text-align: center">
        </nav>
      </div>
    </div>
  </div>
</div>