<div id="slider" class="page-content" *ngIf="ledgerAccountDetail">

  <sp-ledger-detail-filter-bar [ledgerAccountDetail]="ledgerAccountDetail"></sp-ledger-detail-filter-bar>

  <sp-crumb-bar *ngIf='ledgerAccountDetail' [lastTitle]="ledgerAccountDetail.LedgerAccountName"></sp-crumb-bar>
  <!--ledgerAccountsDetail.AccountTitle-->

  <div class="container-fluid">
    <div id="panel-advancedoptions">
      <div class="row">
        <sp-ledger-attribute [ledgerAccountDetail]="ledgerAccountDetail"></sp-ledger-attribute>
        <sp-ledger-account-distribution *ngIf="ledgerAccounts" [ledgerAccounts]="ledgerAccounts"></sp-ledger-account-distribution>
      </div>
    </div>
  </div>

</div>

<sp-loading-spinner [showLoader] = 'showLoader' ></sp-loading-spinner>