<div id="headerbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <a href="#" class="shortcut-tiles tiles-brown">
          <div class="tiles-body">
            <div class="pull-left"><i class="fa fa-pencil"></i></div>
          </div>
          <div class="tiles-footer">
            Create Post
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="#" class="shortcut-tiles tiles-grape">
          <div class="tiles-body">
            <div class="pull-left"><i class="fa fa-group"></i></div>
            <div class="pull-right"><span class="badge">2</span></div>
          </div>
          <div class="tiles-footer">
            Contacts
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-2">
        <a href="#" class="shortcut-tiles tiles-primary">
          <div class="tiles-body">
            <div class="pull-left"><i class="fa fa-envelope-o"></i></div>
            <div class="pull-right"><span class="badge">10</span></div>
          </div>
          <div class="tiles-footer">
            Messages
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="#" class="shortcut-tiles tiles-inverse">
          <div class="tiles-body">
            <div class="pull-left"><i class="fa fa-camera"></i></div>
            <div class="pull-right"><span class="badge">3</span></div>
          </div>
          <div class="tiles-footer">
            Gallery
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-2">
        <a href="#" class="shortcut-tiles tiles-midnightblue">
          <div class="tiles-body">
            <div class="pull-left"><i class="fa fa-cog"></i></div>
          </div>
          <div class="tiles-footer">
            Settings
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="#" class="shortcut-tiles tiles-orange">
          <div class="tiles-body">
            <div class="pull-left"><i class="fa fa-wrench"></i></div>
          </div>
          <div class="tiles-footer">
            Plugins
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<header id="topnav" class="navbar navbar-default navbar-fixed-top clearfix" role="banner" [ngStyle]="disableMenu">

  <a id="leftmenu-trigger" class="" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
  <a routerLink="dashboard">
    <img src="../../assets/img/SkyPanion-R.png" style="height: 45px; margin-top: 3px; float: left">
  </a>
  <!--<div class="yamm navbar-left navbar-collapse collapse in">
    <ul class="nav navbar-nav">
      <li class="dropdown" data-ng-show="showLoading">
        <div class="loading">Loading&#8230;</div>
      </li>
    </ul>
  </div>-->

  <ul class="nav navbar-nav toolbar pull-right">

    <li class="dropdown">
      <a href="#" class="dropdown-toggle username" data-toggle="dropdown" *ngIf="user">


        <span class="hidden-xs">{{user.UserName}}</span>

        <img class="img-circle" [src]="user.ImageName" alt="Dangerfield" />

      </a>
      <ul class="dropdown-menu userinfo">
        <li *ngIf="user">
          <a href="#/user/{{user.UserID}}">
            <span class="pull-left">My Profile</span>
            <i class="pull-right fa fa-pencil"></i>
          </a>
        </li>
        <li *ngIf="user">
          <a *ngIf="user.IsSuperUser == true" href="#/account/{{user.AccountID}}">
            <span class="pull-left">Account Settings</span>
            <i class="pull-right fa fa-cogs"></i>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a (click)="logOut()">
            <span class="pull-left">Sign Out</span>
            <i class="pull-right fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
    </li>

  </ul>

</header>

<div id="wrapper" style="height: 663px;overflow: auto;">
  <div id="layout-static">
    <div class="static-sidebar-wrapper sidebar-inverse" [ngStyle]="disableSideBar">
      <div class="static-sidebar">
        <div class="sidebar">

          <div class="widget stay-on-collapse">
            <div class="widget-body welcome-box tabular">
              <div class="tabular-row">
                <div class="tabular-cell welcome-avatar">
                  <a routerLink="#dashboard">
                    <img class="avatar" />
                  </a>
                </div>
                <div class="tabular-cell welcome-options">
                  <span class="welcome-text">Welcome,</span>

                  <a href="#" class="name"></a>
                </div>
              </div>
            </div>
          </div>


          <div class="widget stay-on-collapse" id="widget-sidebar">
            <span class="widget-heading">QUICK LINKS</span>
            <nav role="navigation" class="widget-body">
              <ul class="acc-menu">
                <li><a routerLink="dashboard"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                <li>
                  <a href="javascript:;"><i class="fa fa-database"></i><span>Content</span></a>
                  <ul class="acc-menu" *ngIf="user">

                    <li *ngIf="user.IsSuperUser"><a routerLink="company/-1/-1">All Companies</a></li>
                    <li><a routerLink="vendor/-1/-1">All Vendors</a></li>
                    <li *ngIf="user.IsSuperUser"><a routerLink="job/-1">All Jobs</a></li>
                    <li *ngIf="user.IsSuperUser"><a routerLink="purchaseOrder/-1/-1">Purchase Orders</a></li>
                    <li><a routerLink="invoice/-1/-1">Invoice History</a></li>
                    <li *ngIf="user.IsSuperUser"><a routerLink="ledgerAccount/-1/-1">Ledger Accounts</a></li>
                    <li *ngIf="user.IsSuperUser"><a routerLink="achSetup/0/-1">Ach Setups</a></li>
                    <li *ngIf="user.IsSuperUser"><a routerLink="approval/0">Approval Criteria</a></li>

                  </ul>
                </li>

                <li><a routerLink="attachment"><i class="fa fa-inbox"></i><span>Pending Invoices</span></a></li>

                <li><a routerLink="attachmentsList/-1/-1"><i class="fa fa-inbox"></i><span>Pending Invoices</span></a></li>


                <li *ngIf="user">
                  <a href="javascript:;" *ngIf="user.IsSuperUser"><i class="fa fa-refresh"></i><span>Sync Center</span></a>
                  <ul class="acc-menu" *ngIf="user.IsSuperUser">
                    <li><a routerLink="syncBatch/-1/-1">Sync Batches</a></li>
                    <li><a routerLink="syncBatchNew/-1">New Sync Batch</a></li>
                  </ul>
                </li>

                <li *ngIf="user">
                  <a routerLink="iniSetup" *ngIf="user.IsSuperUser">
                    <i class="fa fa-cogs"></i>
                    <span>Setup</span>
                  </a>
                </li>

                <li *ngIf="user">
                  <a href="javascript:;" *ngIf="user.IsSuperUser">
                    <i class="fa fa-random"></i>
                    <span>Administration</span>
                  </a>
                  <ul class="acc-menu" *ngIf="user.IsSuperUser">
                    <li><a routerLink="user/-1/-1">All Members</a></li>
                    <li><a routerLink="userEntry/0">Create Member</a></li>
                    <li><a routerLink="role/-1/-1">All Roles</a></li>
                    <li><a routerLink="role/entry/0/-1/-1">New Role</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
    <div class="static-content-wrapper">
      <div class="static-content">
        <div id="body">
          <div>
            <span defaultOverlayTarget></span>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <footer role="contentinfo">
        <div class="clearfix">
          <ul class="list-unstyled list-inline pull-left">
            <li>
              <!-- <%=SessionManager.CurrentSession.CurrentYear %> -->
              <h6 style="margin: 0;">&copy;Skypanion</h6>
            </li>
          </ul>
          <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
        </div>
      </footer>
    </div>
  </div>

</div>
<!--</div>-->