<!--<style>
    .ipp.cb {
    margin: 5px 0;
    float: right;
}
user agent stylesheet
div {
    display: block;
}

.cbl.dropdownmenu {
    z-index: 2;
    max-height: 31px;
}

.cb .cbl {
    position: relative;
    min-height: 12px;
    vertical-align: bottom;
}

.dropdownmenu .dropdown-lbl {
    color: #666;
    display: inline-block;
    margin-top: 7px;
    vertical-align: top;
    height: 15px;
    font-size: 13px;
}

.dropdownmenu .sel {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 190px\9;
    overflow: hidden\9;
    text-overflow: ellipsis\9;
}

.dropdown {
    display: inline;
    position: relative;
    list-style: none;
}
.dropdown, .dropdown-prim, .dropdown-no-split {
    position: relative;
    z-index: 0;
    display: inline-block;
}
.small {
    font-size: .86em;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.btn-s .caret-dn {
    margin-top: 5px;
    margin-left: 10px;
}
.caret-dn, .btn-ter .caret-dn {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #0654ba;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    opacity: .8;
    filter: alpha(opacity=80);
}


.dropdownmenu .dropdown-menu {
    border-radius: 2px;
}
.dropdown-menu {
    display: block;
    float: none;
    min-width: 47px;
}


</style>-->


<ul class="pagination" ng-if="1 < pages.length">
    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }" ng-hide="pagination.current == 1">
        <a href="" ng-click="setCurrent(1)">&laquo; First</a>
    </li>
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" ng-hide="pagination.current == 1" class="ng-scope">
        <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹ Prev</a>
    </li>

    <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" ng-hide="pagination.current == pagination.last" class="ng-scope">
        <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">Next ›</a>
    </li>
    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }" ng-hide="pagination.current == pagination.last">
        <a href="" ng-click="setCurrent(pagination.last)">Last &raquo;</a>
    </li>

    <!--<li class="form-group">
        <label class="control-label col-sm-2" for="results" ng-click="setCurrentOnChange(4)">Results Per Page::</label>
        <div class="col-sm-8">
            <select class="form-control" id="results" name="ResultsNum" ng-change="setCurrentOnChange(4)">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=15>15</option>
                <option value=20>20</option>
            </select>
        </div>
    </li>-->

    </ul>






<!--<ul class="sel">
    <li class="dropdown small" aria-haspopup="true">
        <a class="btn btn-s small btn-ter dropdown-toggle" data-toggle="dropdown" aria-labelledby="e1-5" ng-click="setCurrentOnChange(4)">10<span class="caret-dn"></span></a>
    </li>

    <li class="dropdown small" aria-haspopup="true">
        <a class="btn btn-s small btn-ter dropdown-toggle" data-toggle="dropdown" aria-labelledby="e1-5" ng-click="setCurrentOnChange(4)">25<span class="caret-dn"></span></a>
    </li>

    <li class="dropdown small" aria-haspopup="true">
        <a class="btn btn-s small btn-ter dropdown-toggle" data-toggle="dropdown" aria-labelledby="e1-5" ng-click="setCurrentOnChange(4)">50<span class="caret-dn"></span></a>
    </li>
</ul>-->




