<div class="page-content">
    <div class="page-heading">
        <h1>Approval Criteria</h1>
        <div class="options">
            <div class="btn-toolbar form-inline">
                <div class="btn-group">
                    <a (click)="getApprovalCriteria('all')" class="btn btn-default" ng-class="{active: type=='all'}">All</a>
                    <a (click)="getApprovalCriteria('RangeApproval')" class="btn btn-default" ng-class="{active: type=='RangeApproval'}">Range Approvals</a>
                    <a (click)="getApprovalCriteria('LedgerAccountApproval')" class="btn btn-default" ng-class="{active: type=='LedgerAccountApproval'}">Ledger Account Approvals</a>
                </div>
                <div class="btn-group" [hidden]="!companyId!=0">
                    <!--<a class="btn btn-primary" href="#company/{{CompanyId}}/approvals">
                        <i class="fa fa-plus"></i> Create Approval
                    </a>
                    <a data-toggle="dropdown" class="btn btn-primary dropdown-toggle" href="#">
                        <span class="caret"></span>
                    </a>-->
                    <ul role="menu" class="dropdown-menu" data-target="#sync_state_field">
                        <li>
                            <a data-toggle="modal" data-target="#appCriteriaModel" (click)="showApprovalCriteria(null, 'range' ,1)" data-remote="true"
                                id="ra_app_link">Range Approval</a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#appCriteriaModel" (click)="showApprovalCriteria(null, 'ledger' , 1)" data-remote="true"
                                id="la_app_link">Ledger Account Approval</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <ol class="breadcrumb" *ngIf="account">
        <li><a href="#accounts/{{account.AccountId}}">{{account.AccountName}}</a></li>
        <li class="active">Approval Criteria</li>
    </ol>


    <div class="container-fluid">
        <div id="panel-advancedoptions">
            <div id="vendors_index_table_wrap" class="row">
                <div class="col-md-12">
                    <span [hidden]="!totalItems==0">No approvals found</span>
                    <span [hidden]="!totalItems <= pageSize && totalItems!=0">Displaying <b>all {{totalItems}}</b> approvals </span>
                    <span [hidden]="!totalItems >= pageSize && totalItems!=0">Displaying approvals <b>{{currentPage*pageSize-pageSize+1}}&nbsp;-&nbsp; <span *ngIf="currentPage*pageSize <= totalItems">{{currentPage*pageSize}}</span>
                    <span
                        *ngIf="currentPage*pageSize > totalItems">{{totalItems}}</span>
                        </b> of <b>{{totalItems}}</b> in total</span>

                        <br>
                        <br>

                        <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                     <th [hidden]="!CompanyId==0">Company</th>
                                    <th>Approver</th>
                                    <th>Type</th>
                                    <th>Criteria</th>
                                    <th>Options</th>
                                </tr>
                            </thead>

                            <tbody ui-sortable="sortableOptions">
                                <tr *ngFor="let app of approvalCriteriaModel.approvalCriteriaGridArray" current-page="currentPage" total-items="totalItems" class="Skypanion::Property_row">
                                    <td [hidden]="!CompanyId==0"><a href="#company/{{app.CompanyId}}">{{app.CompanyName}}</a></td>
                                    <td><a href="user/{{app.UserID}}">{{app.UserName}}</a></td>
                                    <td>{{app.ApprovalType}}</td>
                                    <td><span [hidden]="!app.LedgerAccountID!=null"><b>Account</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{app.ApprovalCriteria}}</td>
                                    <td>
                                        <a data-toggle="modal" data-target="#appCriteriaModel" (click)="showApprovalCriteria(app, '' ,0)">
                                            <i class="fa fa-edit" [hidden]="!app.LedgerAccountID!=null"></i> Edit
                                        </a>
                                        <a (click)="deleteApprovalCriteria(app.ApprovalCriteriaID)">
                                            <i ng-class="{'fa fa-remove': app.LedgerAccountID!=null}"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <!--<dir-pagination-controls max-size="8" on-page-change="pageChangeHandler(newPageNumber)" direction-links="true" boundary-links="true"
                                template-url="../../Scripts/Pagination/dirPagination.tpl.html"></dir-pagination-controls>-->
                        </div>

                </div>
            </div>
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- #page-content -->
</div>