<h4 style="display: inline">Job Categories</h4>

<div class="clearfix"></div>
<hr>
<span [hidden]="totalItems >= pageSize">Displaying <b>all {{jobDetail.JobCategories.length}}</b> job categories</span>
<span *ngIf="totalItems >= pageSize">Displaying job categories 
  <b>{{currentPage*pageSize-pageSize+1}}&nbsp;-&nbsp; 
    <span *ngIf="currentPage*pageSize < totalItems">{{currentPage*pageSize}}</span>
    <span *ngIf="currentPage*pageSize > totalItems">{{jobDetail.JobCategories.length}}</span>
  </b> of
  <b>
    {{totalItems}}
  </b> in total
</span>

<br>
<br>
<table id="job_job_categories_table" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Current Cost</th>
      <th>Current Budget</th>
      <th>Original Budget</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jobCategory of jobDetail.JobCategories">
      <td>{{jobCategory.Category}}</td>
      <td>{{jobCategory.Description}}</td>
      <td>{{jobCategory.CurrCost_currency}}{{jobCategory.CurrCost_cents }}</td>
      <td>{{jobCategory.CurrBudget_currency}}{{jobCategory.CurrBudget_cents }}</td>
      <td>{{jobCategory.OrigBudget_currency}}{{jobCategory.OrigBudget_cents }}</td>
    </tr>
  </tbody>
</table>
