<div class="page-content">
    <div class="page-heading">
        <h1>Ledger Accounts</h1>
        <div class="options">
            <div class="btn-toolbar form-inline">

                <div class="filter_field_wrap form-group">
                    <input class="form-control" id="search_filter_param" name="searchstr" placeholder="Enter an account number" type="text" [(ngModel)]="accountNumberSearch">
                </div>

                <div class="filter_field_wrap form-group">
                    <input class="form-control" id="Text1" name="searchstr" placeholder="Enter an account title" type="text" [(ngModel)]="accountTitleSearch">
                </div>

                <div class="filter_field_wrap form-group">
                    <button class="btn btn-primary" name="commit" type="button" (click)="searchUrl()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Filter
                    </button>

                    <button class="btn btn-warning" (click)="searchUrlReset()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Reset
                    </button>
                </div>
            </div>
        </div>

    </div>

    <sp-crumb-bar *ngIf="account" [pageDetail]="account"></sp-crumb-bar>

    <div>
        <span *ngIf="totalItems==0">No {{pageName}} found</span>
        <span *ngIf="totalItems <= pageSize && totalItems!=0">Displaying <b>all {{totalItems}}</b> {{pageName}}</span>
        <span *ngIf="totalItems > pageSize && totalItems!=0">
            Displaying {{pageName}}
            <b>
                {{currentPage*pageSize-pageSize+1}}&nbsp;-&nbsp;
                <span *ngIf="currentPage*pageSize < totalItems">{{currentPage*pageSize}}</span>
        <span *ngIf="currentPage*pageSize >= totalItems">{{totalItems}}</span>
        </b> of <b>{{totalItems}}</b> in total
        </span>
    </div>

    <table id="account_distributions_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width: 15%">Account Number</th>
                <th style="width: 15%">Account Title</th>
                <th style="width: 15%"># of invoices</th>
                <th style="width: 15%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ledgerAccounts">
                <td>{{item.AccountNumber}}</td>
                <td>{{item.AccountTitle}}</td>
                <td>{{item.invCount}}</td>
                <td><a routerLink="ledgerAccountDetail/{{item.id}}">Details</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
                </td>
            </tr>
        </tfoot>
    </table>

    <!--<div class="container-fluid">
        <div data-ng-include="'ui-grid-pagination.html'"></div>
    </div>-->
    <!-- .container-fluid -->
</div>
<!-- #page-content -->