<div class="page-content">

  <sp-ledger-filter-bar (filtered)="onFiltered($event)" [filteredValue]="filteredValue">
  </sp-ledger-filter-bar>

  <sp-crumb-bar *ngIf="account" [pageDetail]="account"></sp-crumb-bar>

  <div class="container-fluid">
    <div class="col-md-12">
      <sp-pager [pageName]='pageName' [totalItems]='totalItems' [currentPageFiltered]='currentPageFiltered'></sp-pager>
      <table id="account_distributions_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th style="width: 15%">Account Number</th>
            <th style="width: 15%">Account Title</th>
            <th style="width: 15%"># of invoices</th>
            <th style="width: 15%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ledgerAccounts">
            <td>{{item.AccountNumber}}</td>
            <td>{{item.AccountTitle}}</td>
            <td>{{item.invCount}}</td>
            <td><a routerLink="/ledgerAccountDetail/{{searchString}}/{{item.id}}">Details</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
            </td>
          </tr>
        </tfoot>
      </table>
      <sp-pagination [dataSource]='companies' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>

    </div>
  </div>
</div>