<div class="page-content">

  <sp-ledger-filter-bar (filtered)="onFiltered($event)" [filteredValue]="filteredValue">
  </sp-ledger-filter-bar>

   <sp-crumb-bar></sp-crumb-bar>

  <div class="container-fluid">
    <div class="col-md-12">
      <sp-pager [pageName]='pageName' [totalItems]='totalItems' [currentPageFiltered]='currentPageFiltered'></sp-pager>
      <table id="account_distributions_table" class="table table-hover table-striped table-sortable table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th style="width: 25%" [class]="selectedClass('AccountNumber')" (click)="changeSorting('AccountNumber')">Account Number</th>
            <th style="width: 40%" [class]="selectedClass('AccountTitle')" (click)="changeSorting('AccountTitle')">Account Title</th>
            <th style="width: 20%"># of invoices</th>
            <th style="width: 15%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ledgerAccounts  | OrderByTable : convertSorting()">
            <td>{{item.AccountNumber}}</td>
            <td>{{item.AccountTitle}}</td>
            <td>{{item.invCount}}</td>
            <td><a routerLink="/ledgerAccount/detail/{{searchString}}/{{item.id}}">Details</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
            </td>
          </tr>
        </tfoot>
      </table>
      <sp-pagination [dataSource]='companies' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>

    </div>
  </div>
</div>


<sp-loading-spinner [showLoader] = 'showLoader' ></sp-loading-spinner>