popover-title {
    margin: 0;
    padding: 8px 10px;
    font-size: 14px;
    background-color: #fafbfc;
    border-radius: 3px 3px 0 0;
    color: #3fa7a7;
    border-bottom: 1px solid #534949;
}
