  <div class="page-heading">
        <h1>All Roles</h1>

        <div class="options">
            <div class="btn-toolbar form-inline">

                <div class="form-group">
                    <input class="form-control" id="roleName" placeholder="Role" size="15" type="text" [(ngModel)]="roleName" my-enter="getRoles()"
                    />
                </div>

                <button class="btn btn-primary" name="commit" type="button" (click)="searchURL()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Filter
                </button>

                <button class="btn btn-warning" (click)="searchURLReset()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Reset
                </button>
            </div>
        </div>
    </div>