<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Role Attributes</h2>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Account</dt>
            <dd>{{role.AccountName}}</dd>

            <dt>Name</dt>
            <dd>{{role.RoleName}}</dd>

            <!--<dt>Role Type</dt>
                                <dd>{{role.RoleTypeName}}</dd>-->

            <dt>Description</dt>
            <dd>{{role.Description}}</dd>

            <dt>Picture</dt>
            <dd>{{role.Picture}}</dd>
        </dl>
    </div>
</div>