
<div class="page-heading" data-ng-hide="invoiceID==0">
  <h1><strong>Editing:</strong> {{invoiceDetail.VendorKey}} - {{invoiceNumber}}</h1>
  <div class="options">
    <div class="btn-toolbar">

      <button type="button" class="btn btn-default" data-ng-click="unlockDocument(invoiceBackLink)">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </button>

      <a data-ng-show="invoiceDetail.InvoiceStatusID != 5 && invoiceDetail.InvoiceStatusID != 6 && invoiceDetail.InvoiceStatusID != 7"
        class="reject_invoice_link btn btn-danger" data-remote="true" style="color: white!important; margin-top: 0px;" data-toggle="modal"
        data-target="#dgInvcoiceReject" data-ng-click="getInvoiceReject()"><i class="fa fa-remove"></i>Reject Invoice</a>

      <a href="#invoices" class="btn btn-default"><i class="fa fa-fw fa-arrow-circle-left"></i></a>
    </div>
  </div>
</div>

<div class="page-heading" data-ng-show="invoiceID==0">
  <h1><strong>Proccessing Invoice:</strong> {{invoiceDetail.AttachmentName}}</h1>
  <div class="options">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#dgInvcoiceRemove" data-ng-click="ShowRejectionPopup()">
          Invalid/Remove
    </button>
    <button type="button" class="btn btn-default" data-ng-click="unlockDocument(attachmentBackLink)">
        <i class="fa fa-arrow-left"></i>
        Back
    </button>
  </div>
</div>