<div class="page-content">

  <sp-approval-filter-bar (filtered)="onFiltered($event)" [filteredValue]="filteredValue" [approversCount]="approversCount"
    [companyId]="companyId" [approvals]="approvals" [approvers]="approvers" [cmpName]="cmpName">
  </sp-approval-filter-bar>

  <sp-crumb-bar></sp-crumb-bar>

  <div class="container-fluid">
    <div id="panel-advancedoptions">
      <div id="vendors_index_table_wrap" class="row">
        <div class="col-md-12">

          <sp-pager [pageName]='pageName' [totalItems]='totalItems' [currentPageFiltered]='currentPageFiltered'></sp-pager>
          <sp-approvals-view *ngIf="approvals" [approvals]="approvals" [approversCount]="approversCount" [companyId]="companyId" [approvers]="approvers"
            (approvalCreteriaChanged)="getApprovalCriteria('all')" [cmpName]="cmpName"></sp-approvals-view>

          <div class="text-center">
            <sp-pagination [dataSource]='companies' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<sp-loading-spinner [showLoader] = 'showLoader' ></sp-loading-spinner>