<div id="slider" class="page-content">

  <sp-invoice-filter-bar
  (filteredInvoice)="onFilteredInvoice($event)"
  [invoiceFilteredValue]="invoiceFilteredValue"
  ></sp-invoice-filter-bar>

  <sp-crumb-bar *ngIf="account" [pageDetail]="account"></sp-crumb-bar>

  <div class="container-fluid">
    <div class="col-md-12" style="padding-bottom: 10px">
      <div class="col-md-10" style="padding-top: 10px">
        <label><input type="checkbox" data-ng-model="isAllInvoiceSelected" ng-change="SelectAllInvoice()" style="height:15px;width:15px;">&nbsp;&nbsp;&nbsp;{{selectInoivcesSpan}}</label>
      </div>
      <div class="col-md-2">
        <button class="btn btn-default pull-right" (click)="ExporPdf()">
          <i class="fa fa-download"></i>&nbsp;Export Pdf
        </button>
      </div>
    </div>

    <table id="account_distributions_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
           <th style="width: 3%"></th>
          <th style="width: 8%">Status</th>
          <th style="width: 5%">Company</th>
          <th style="width: 8%">Inv. Number</th>
          <th style="width: 12%">Vendor</th>
          <th style="width: 16%">Distributions</th>
          <th style="width: 7%">Invoice Amount</th>
          <th style="width: 7%">Paid Status</th>
          <th style="width: 7%">Processed</th>
          <th style="width: 8%">Description</th>
          <th style="width: 5%">Locked By</th>
          <th style="width: 5%"></th>
          <th style="width: 5%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Invoices">
          <td>
            <input type="checkbox" [(ngModel)]="item.IsInoiveSelected" style="margin-left:17px;margin-top:5px;height:15px;width:15px;"
              class="gridCellIcon" />
          </td>
          <td>{{item.InvoiceStatus}}</td>
          <td>{{item.CompanyNumber}}</td>
          <td>{{item.InvoiceNumber}}</td>
          <td>{{item.VendorKey}}</td>
          <td>{{item.Distributions}}</td>
          <td>{{item.InvoiceAmount}}</td>
          <td>{{item.PaidStatus}}</td>
          <td>{{item.Processed}}</td>
          <td>{{item.InvoiceDescription}}</td>
          <td>{{item.LockedBy}}</td>
          <td>
            <div class="ui-grid-cell-contents" *ngIf="item.IsLocked || item.IsSuperUser">
              <a (click) ="unlockInvoice(row)">
                <i class="glyphicon"></i>unlock
               </a>
            </div>
           </td>
          <td><a routerLink="/invoiceDetail/{{item.InvoiceID}}">Details</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <!--<sp-pagination [dataSource]='Invoices' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>-->
            <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
          </td>
        </tr>
      </tfoot>
    </table>

  </div>

</div>