<div id="slider" class="page-content">

  <sp-invoice-filter-bar 
      [invoiceFilteredValue]="invoiceFilteredValue" 
      (filteredInvoice)="onFilteredInvoice($event)">
  </sp-invoice-filter-bar>

  <sp-crumb-bar 
      *ngIf="account" 
      [pageDetail]="account">
  </sp-crumb-bar>

  <div class="container-fluid">
    <div class="col-md-12" style="padding-bottom: 10px">
      <div class="col-md-10" style="padding-top: 10px">
        <label><input type="checkbox" data-ng-model="isAllInvoiceSelected" ng-change="SelectAllInvoice()" style="height:15px;width:15px;">&nbsp;&nbsp;&nbsp;{{selectInoivcesSpan}}</label>
      </div>
      <div class="col-md-2">
        <button class="btn btn-default pull-right" (click)="ExporPdf()">
          <i class="fa fa-download"></i>&nbsp;Export Pdf
        </button>
      </div>
    </div>

    <table id="account_distributions_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th style="width: 3%"></th>
          <th style="width: 8%">Status</th>
          <th style="width: 5%">Company</th>
          <th style="width: 8%">Inv. Number</th>
          <th style="width: 12%">Vendor</th>
          <th style="width: 16%">Distributions</th>
          <th style="width: 7%">Invoice Amount</th>
          <th style="width: 7%">Paid Status</th>
          <th style="width: 7%">Processed</th>
          <th style="width:11%">Description</th>
          <th style="width: 8%">Locked By</th>
          <th style="width: 5%"></th>
          <th style="width: 5%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Invoices">
          <td>
            <input type="checkbox" [(ngModel)]="item.IsInoiveSelected" style="margin-left:17px;margin-top:5px;height:15px;width:15px;"
              class="gridCellIcon" />
          </td>
          <td>
            <div [ngClass]="{'text-warning': item.InvoiceStatus=='Waiting For Sync',
             'text-warning1': item.InvoiceStatus=='Waiting For Approval', 
             'text-success': item.InvoiceStatus=='Synced',
             'text-danger': item.InvoiceStatus=='Rejected',
             'text-warning': item.InvoiceStatus=='Waiting For Review'}">
              {{item.InvoiceStatus}}
            </div>
          </td>
          <td>
            <div>
              <a href="#/companyDetail/{{item.CompanyID}}">
                <i [ngClass]="{'fa fa-book': item.Type=='Skypanion::Fund', 
                              'fa fa-building': item.Type=='Skypanion::Property'}">
                </i> &nbsp;{{item.CompanyNumber}}
              </a>
            </div>
          </td>
          <td>{{item.InvoiceNumber}}</td>
          <td>
            <div>
              <a href="#/vendorDetail/{{item.VendorID}}" class="remote_href" data-remote="true">
              {{item.VendorKey}}&nbsp;
              </a>{{item.VendorName}}
            </div>
          </td>
          <td>
            <div class="italic-font text-warning" *ngIf="item.Distributions=='None' && item.LedgerAccountID==0">
              {{item.Distributions}}
            </div>
            <div *ngIf="item.Distributions!='None' && item.LedgerAccountID!=0">
              <a href="#/ledgerAccountDetail/-1/-1/{{item.LedgerAccountID}}">
              {{item.Distributions}}
              </a>
            </div>
            <div>
              <a *ngIf="item.Distributions!='None' && item.LedgerAccountID==0">
                {{item.Distributions}}
             </a>
            </div>
          </td>
          <td>
            <div>${{item.InvoiceAmount}}</div>
          </td>
          <td>
            <div [ngClass]="{'text-success': item.PaidStatus=='Full Paid', 
                            'text-danger': item.PaidStatus=='Not Paid' ,
                            'text-warning': item.PaidStatus=='Partial Paid'}">
              {{item.PaidStatus}}
            </div>
          </td>
          <td>
            <div [ngClass]="{'italic-font': item.Processed=='Not Applicable'}">
              {{item.Processed}}
            </div>
          </td>
          <td>{{item.InvoiceDescription}}</td>
          <td>{{item.LockedBy}}</td>
          <td>
            <div *ngIf="item.IsLocked || item.IsSuperUser">
              <a (click)="unlockInvoice(row)">
                <i class="glyphicon"></i>unlock
              </a>
            </div>
          </td>
          <td>
            <a href="#/invoiceDetail/{{searchString}}/{{item.InvoiceID}}">Details</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <!--<sp-pagination [dataSource]='Invoices' [totalItems]='totalItems' (currentPageChanged)='onCurrentPageChanged($event)' [currentPageFiltered]='currentPageFiltered'></sp-pagination>-->
            <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
          </td>
        </tr>
      </tfoot>
    </table>

  </div>

</div>