<div class="page-content">

    <div class="page-heading">
        <h1 *ngIf="account">{{account.AccountName}}</h1>
        <div class="options">
            <div class="btn-toolbar" *ngIf="account">
                <a href="#account/{{account.AccountID}}" class="btn btn-default"><i class="fa fa-fw fa-cog"></i></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="container-fluid">
        <div id="panel-advancedoptions">
            <div id="account_info_wrap" class="row">
                <div class="col-md-3">
                    <!--<img alt="{{account.ImageName}}" class="img-thumbnail" ng-src="{{account.ImagePath}}" />-->
                </div>
                <div class="col-md-9">
                    <div class="alert alert-info">
                        There's no description.  Please, go ahead and describe me!
                    </div>
                    <!--<p data-ng-hide="account.Description==null">{{account.Description}}</p>-->
                </div>
            </div>
        </div>
    </div>
</div>
 